@import url("../scss/common.css");
nav {
  background-color: #1E3542;
  z-index: 9999;
}
nav .container .logo {
  color: #F9982F;
  font-size: 36px;
  text-decoration: none;
}
nav .container .navbar-toggler {
  border: none;
  color: #fff;
}
nav .container .collapse ul li .nav-link {
  color: #fff;
}
nav .container .collapse ul li .nav-link:hover {
  color: #F9982F;
  transition-duration: 0.6s;
}
nav .container .collapse ul li .nav-link.active {
  color: #F9982F !important;
}
nav .container .collapse ul li .dropdown .dropdown-menu {
  background-color: transparent;
  border: none;
}
nav .container .navbar-collapse {
  justify-content: end;
}

.kv {
  width: 100%;
  background: #1E3542;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kv .container-fluid {
  padding: 0;
}
.kv .container-fluid .row {
  margin: 0;
}
.kv .container-fluid .row .kv-top-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 26vw;
  color: #1E3542;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #F9982F;
}
.kv .container-fluid .row .kv-title {
  position: absolute;
  top: 20%;
  left: 33%;
  background-color: #1C313D;
  padding: 150px 85px;
  z-index: 2;
}
.kv .container-fluid .row .kv-title h3 {
  font-family: "Kodchasan", sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: #F9982F;
}
.kv .container-fluid .row .kv-title p {
  font-family: "Rozha One", serif;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}
.kv .container-fluid .row .kv-img {
  width: 25%;
  position: absolute;
  top: 21%;
  left: 44%;
  z-index: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.kv .container-fluid .row .kv-img img {
  width: 100%;
  animation: spin 15s linear infinite;
}

.sec01 {
  background-color: #F9982F;
}
.sec01 .container {
  padding: 100px 20px;
}
.sec01 .tab-content li button {
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  transition: 0.3s;
}
.sec01 .tab-content li button:hover {
  color: #1E3542;
  transition: 0.6s;
}
.sec01 .tab-content li button:active {
  color: #1E3542;
  transform: translateY(2px);
}
.sec01 .tab-content li button.active {
  color: #1E3542;
  box-shadow: 0px 4px 0px 0px;
}
.sec01 .tab-content .tab-pane {
  transition: opacity 0.5s ease-in-out;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con {
  margin-top: 20px;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event-img {
  width: 100%;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event-img img {
  width: 100%;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text {
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 25px 20px;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text .t1 {
  font-size: 12px;
  color: #F9982F;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text .t2 {
  font-size: 18px;
  font-weight: 700;
  color: #1E3542;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text .t3 {
  font-size: 12px;
  margin-top: 10px;
  color: #1E3542;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text .t3 i {
  margin-right: 10px;
  color: #1E3542;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text a {
  font-size: 12px;
  margin-top: 10px;
  text-decoration: none;
  color: #1E3542;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con .event_text a i {
  margin-right: 10px;
}
.sec01 .tab-content .container-fluid .col-md-3 .event_con:hover {
  transform: translateY(2px);
  transition-duration: 0.6s;
}

footer {
  background-color: #1E3542;
}
footer .container {
  padding: 100px 20px;
}
footer .container .logo {
  font-size: 24px;
  color: #F9982F;
}
footer .container .d-flex {
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
}
footer .container .d-flex a {
  color: #fff;
  font-size: 20px;
}
footer .container .d-flex a:hover {
  color: #F9982F;
  text-decoration: none;
  transition-duration: 0.6s;
}
footer .container .d-flex a:active {
  background-color: #F9982F;
  color: #1E3542;
}
footer .container p {
  margin-top: 20px;
  color: #fff;
}

/* media */
@media (max-width: 1600px) {
  .kv .kv-top .kv-title {
    padding: 100px 45px;
  }
  .kv .kv-top .kv-img {
    width: 25%;
    top: 20%;
  }
}
@media (max-width: 1280px) {
  .kv .kv-top .kv-title {
    left: 30%;
    padding: 80px 45px;
  }
  .kv .kv-top .kv-title p {
    font-size: 40px;
  }
  .kv .kv-top .kv-title h3 {
    font-size: 80px;
  }
  .kv .kv-top .kv-img {
    width: 25%;
    top: 20%;
  }
}
@media (max-width: 992px) {
  .kv .kv-top .kv-title {
    left: 30%;
    padding: 70px 35px;
  }
  .kv .kv-top .kv-title p {
    font-size: 30px;
  }
  .kv .kv-top .kv-title h3 {
    font-size: 60px;
  }
  .kv .kv-top .kv .kv-top .kv-img {
    width: 25%;
    top: 21%;
    left: 43%;
  }
}
@media (max-width: 992px) and (max-width: 768px) {
  .kv .kv-title {
    left: 28%;
    top: 25%;
    padding: 50px 22px;
  }
  .kv .kv-title p {
    font-size: 24px;
  }
  .kv .kv-title h3 {
    font-size: 50px;
  }
  .kv .kv-img {
    width: 25%;
    top: 26%;
    left: 42%;
  }
}
@media (max-width: 576px) {
  .kv .kv-top .kv-top-title {
    padding: 50px 0;
  }
  .kv .kv-top .kv-title {
    display: none;
  }
  .kv .kv-top .kv-img {
    display: none;
  }
}
@media (max-width: 430px) {
  nav .container .logo {
    font-size: 30px;
  }
}/*# sourceMappingURL=event.css.map */