@import url("../scss/common.css");
nav {
  background-color: #1E3542;
  z-index: 9999;
}
nav .container {
  overflow: hidden;
}
nav .container .logo {
  color: #F9982F;
  font-size: 36px;
  text-decoration: none;
}
nav .container .navbar-toggler {
  border: none;
  color: #fff;
}
nav .container .collapse ul li .nav-link {
  color: #fff;
}
nav .container .collapse ul li .nav-link:hover {
  color: #F9982F;
  transition-duration: 0.6s;
}
nav .container .collapse ul li .nav-link.active {
  color: #F9982F !important;
}
nav .container .collapse ul li .dropdown .dropdown-menu {
  background-color: transparent;
  border: none;
}
nav .container .navbar-collapse {
  justify-content: end;
}

.kv {
  width: 100%;
  background: #1E3542;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.kv .container-fluid {
  padding: 0;
}
.kv .container-fluid .row {
  margin: 0;
}
.kv .container-fluid .row .kv-top-title {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 26vw;
  color: #1E3542;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #F9982F;
}
.kv .container-fluid .row .kv-title {
  position: absolute;
  top: 20%;
  left: 33%;
  background-color: #1C313D;
  padding: 150px 85px;
  z-index: 2;
}
.kv .container-fluid .row .kv-title h3 {
  font-family: "Kodchasan", sans-serif;
  font-weight: bold;
  font-size: 96px;
  color: #F9982F;
}
.kv .container-fluid .row .kv-title p {
  font-family: "Rozha One", serif;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
}
.kv .container-fluid .row .kv-img {
  width: 25%;
  position: absolute;
  top: 21%;
  left: 44%;
  z-index: 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.kv .container-fluid .row .kv-img img {
  width: 100%;
  animation: spin 15s linear infinite;
}

.sec01 {
  background: #1E3542;
}
.sec01 .container {
  padding: 100px 20px;
}
.sec01 .container .col-md-6 p {
  color: #fff;
}
.sec01 .container .col-md-6 .sec01-img {
  width: 100%;
}
.sec01 .container .col-md-6 .sec01-img img {
  width: 100%;
}
.sec01 .container .col-md-6 h2 {
  color: #F9982F;
  margin-bottom: 20px;
}
.sec01 .container .col-md-6 h3 {
  color: #F9982F;
  font-weight: bold;
  margin-top: 20px;
}
.sec01 .container .col-md-6 ul {
  list-style: none;
}
.sec01 .container .col-md-6 ul li {
  margin-top: 10px;
}
.sec01 .container .col-md-6 ul li p {
  color: #fff;
  font-weight: bold;
}
.sec01 .container .col-md-6 ul li p span {
  font-weight: normal;
}

.sec02 {
  background: #F9982F;
}
.sec02 .container {
  padding: 100px 20px;
}
.sec02 .container .col-md-12 h2 {
  color: #1E3542;
}
.sec02 .container .col .card {
  border: none;
  border-radius: 10px;
}
.sec02 .container .col .card img {
  border-radius: 10px 10px 0 0;
}
.sec02 .container .col .card .card-title {
  font-family: "MangoDdobak-R";
  font-weight: bold;
}

footer {
  background-color: #1E3542;
}
footer .container {
  padding: 100px 20px;
}
footer .container .logo {
  font-size: 24px;
  color: #F9982F;
}
footer .container .d-flex {
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
}
footer .container .d-flex a {
  color: #fff;
  font-size: 20px;
}
footer .container .d-flex a:hover {
  color: #F9982F;
  text-decoration: none;
  transition-duration: 0.6s;
}
footer .container .d-flex a:active {
  background-color: #F9982F;
  color: #1E3542;
}
footer .container p {
  margin-top: 20px;
  color: #fff;
}

/* media */
@media (max-width: 1600px) {
  .kv .kv-top .kv-title {
    padding: 100px 45px;
  }
  .kv .kv-top .kv-img {
    width: 25%;
    top: 20%;
  }
}
@media (max-width: 1280px) {
  .kv .kv-top .kv-title {
    left: 30%;
    padding: 80px 45px;
  }
  .kv .kv-top .kv-title p {
    font-size: 40px;
  }
  .kv .kv-top .kv-title h3 {
    font-size: 80px;
  }
  .kv .kv-top .kv-img {
    width: 25%;
    top: 20%;
  }
}
@media (max-width: 992px) {
  .kv .kv-top .kv-title {
    left: 30%;
    padding: 70px 35px;
  }
  .kv .kv-top .kv-title p {
    font-size: 30px;
  }
  .kv .kv-top .kv-title h3 {
    font-size: 60px;
  }
  .kv .kv-top .kv-img {
    width: 25%;
    top: 21%;
    left: 43%;
  }
}
@media (max-width: 768px) {
  .kv .container-fluid {
    padding: 20px 0 0 0;
  }
  .kv .container-fluid .row .col-12 .kv-top .kv-title {
    display: none;
  }
  .kv .container-fluid .row .col-12 .kv-top .kv-img {
    display: none;
  }
}
@media (max-width: 430px) {
  nav .container .logo {
    font-size: 30px;
  }
}/*# sourceMappingURL=swing.css.map */